[Interface]
Address = 10.100.0.1/24
ListenPort = 51820

# Peers will be added here when app servers are provisioned
# Example format for future peers:
# [Peer]
# PublicKey = APP_SERVER_PUBLIC_KEY
# AllowedIPs = 10.100.0.2/32

# [Peer]
# PublicKey = ANOTHER_APP_SERVER_PUBLIC_KEY
# AllowedIPs = 10.100.0.3/32