[Unit]
Description=Generate Garage API tokens
Before=garage.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/garage-generate-secrets.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
