[Unit]
Description=Decrypt SOPS secrets and distribute to Podman secret stores
DefaultDependencies=no
After=local-fs.target systemd-sysusers.service systemd-tmpfiles-setup.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sops-distribute-secrets.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
