[Unit]
Description=Monthly ZFS Pool Scrub
Requires=zfs-scrub.service

[Timer]
OnCalendar=monthly
RandomizedDelaySec=6h
Persistent=true

[Install]
WantedBy=timers.target