[Unit]
Description=Take ZFS snapshot of  %I every 15 minutes, keep the last hour
Documentation=man:zfs-snapshot(8)
Requires=zfs.target
After=zfs.target
ConditionACPower=true
ConditionPathIsDirectory=/sys/module/zfs

[Service]
Type=oneshot
User=root
ExecStart=/bin/sh /etc/systemd/system/zfs-snapshot-frequently.sh %I
StandardOutput=journal
StandardError=journal
PrivateNetwork=yes
ProtectSystem=strict
ReadWritePaths=/dev /sys /proc
