[Unit]
Description=Take ZFS snapshots of %I every month, keep the last year

[Timer]
OnCalendar=monthly
Persistent=true
RandomizedDelaySec=30min
Unit=zfs-snapshots-monthly@%i.service

[Install]
WantedBy=timers.target
