[Unit]
Description=Take ZFS snapshots of %I every year, keep forever

[Timer]
OnCalendar=yearly
Persistent=true
RandomizedDelaySec=60min
Unit=zfs-snapshots-yearly@%i.service

[Install]
WantedBy=timers.target
