[Unit]
Description=ZFS Pool Scrub Operation
Documentation=man:zpool(8)
Requires=zfs-import.target
After=zfs-import.target
ConditionACPower=true
ConditionPathIsDirectory=/sys/module/zfs

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zfs-scrub.sh scrub
User=root
StandardOutput=journal
StandardError=journal
PrivateNetwork=yes
ProtectSystem=strict
ReadWritePaths=/dev /sys /proc
RemainAfterExit=no
TimeoutStartSec=600