[Unit]
Description=Take ZFS snapshot of  %I every year, keep forever
Documentation=man:zfs-snapshot(8)
Requires=zfs.target
After=zfs.target
ConditionACPower=true
ConditionPathIsDirectory=/sys/module/zfs

[Service]
ExecStart=/bin/sh /etc/systemd/system/zfs-snapshots-yearly.sh %I
