[Unit]
Description=Take ZFS snapshot of  %I every year, keep forever
Documentation=man:zfs-snapshot(8)
Requires=zfs.target
After=zfs.target
ConditionACPower=true
ConditionPathIsDirectory=/sys/module/zfs

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/zfs-snapshot-retained.sh tank/%I yearly 0
StandardOutput=journal
StandardError=journal
PrivateNetwork=yes
ProtectSystem=strict
ReadWritePaths=/dev /sys /proc
