[Unit]
Description=Caddy Reverse Proxy
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=caddy
Image=ghcr.io/samhclark/lab-caddy:2.11-cf-0.2.2
AutoUpdate=registry
Network=host
Volume=/etc/caddy:/etc/caddy:ro,Z
Volume=/var/lib/caddy:/data:Z
Volume=/var/lib/caddy-config:/config:Z
Pull=always

[Service]
Restart=always
RestartSec=30
LoadCredentialEncrypted=cf-api-token:/etc/caddy/cf_api_token.encrypted
Environment=CF_API_TOKEN=%d/cf-api-token

[Install]
WantedBy=multi-user.target default.target
