[Unit]
Description=Cockpit Web Service
Wants=network-online.target nss-lookup.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=cockpit-ws
Image=quay.io/cockpit/ws:latest
AutoUpdate=registry
PublishPort=127.0.0.1:9090:9090
Pull=always

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target default.target
