{
	acme_dns cloudflare {file./run/secrets/cf-api-token}
	email no-reply@samhclark.com

	# Let's Encrypt Staging Endpoint, for testing
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

cockpit.i.samhclark.com {
	reverse_proxy 127.0.0.1:9090
}
