{
	acme_dns cloudflare {file./run/secrets/cf-api-token}
	email no-reply@samhclark.com

	# Let's Encrypt Staging Endpoint, for testing
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

cockpit.i.samhclark.com {
	reverse_proxy 127.0.0.1:9090
}

# Garage S3 API endpoint
s3.i.samhclark.com, *.s3.i.samhclark.com {
	reverse_proxy 127.0.0.1:3900
}

# Garage Admin API endpoint
garage.i.samhclark.com {
	reverse_proxy 127.0.0.1:3903
}
