[Unit]
Description=VictoriaMetrics vmalert - Alerting Rules Evaluator
Documentation=https://docs.victoriametrics.com/vmalert/

[Container]
ContainerName=vmalert
Image=docker.io/victoriametrics/vmalert:v1.139.0
Network=host

# Image-controlled alerting rules (read-only)
Volume=/usr/share/custom-coreos/vmalert:/etc/vmalert:ro

Exec=-datasource.url=http://127.0.0.1:8428 -remoteWrite.url=http://127.0.0.1:8428 -remoteRead.url=http://127.0.0.1:8428 -notifier.url=http://127.0.0.1:9093 -rule=/etc/vmalert/alert-rules.yml -httpListenAddr=127.0.0.1:8880

Pull=newer

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
